@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #e0ebe8;
}

header{
    height: 120px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.logo{
    margin: 0px 300px;
}

.me{
    height: 80px;
    width: 80px;
}

.menu-icons{
    list-style: none;
    display: flex;
    margin-left: 300px;
    align-items: center;
    font-family: 'Otomanopee One', sans-serif;
    font-size: larger;
    color: #45b29a;
    letter-spacing: 1.1px;
}

.menu-icons li{
    margin: 0px 30px;
}

.head-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 100vw;
}

.head-title-image{
    margin-top: 20px;
    align-content: center;
    height: 100px;
}

.head-title-text{
    margin-top:65px;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: larger;
    color: #45b29a;
    letter-spacing: 0.4ch;
}

.left-cloud{
    position: relative;
    right: 530px;
    top: 8px;
}

.right-cloud{
    position: relative;
    left: 530px;
    top: 80px;
}

.block-bg{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100vw;
}