@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

.main{
    height: 100vh;
    width: 100%;
}

.main header{
    display: flex;
    height: 125px;
    width: 100%;
    background-color: #E0EBE8;
    color: #45b29a;
    box-sizing: border-box;
    transition: 0.5s cubic-bezier(0.36, 0.53, 0.49, 0.83);
}

.main header:hover{
    background: #fff;
    border: 0.01px solid whitesmoke;
    box-sizing: border-box;
    box-shadow:inset 0px 1px 2px 0.5px rgba(0, 0, 0, 0.35);
}

.main header .logo{
    height: 125px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main header .logo img{
    height: 80px;
    width: 80px;
}

.main header .menu-icons{
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.menu-icons li:hover{
    color: #545454;
    cursor: pointer;
}

.main header .menu-icons li{
    margin: 0px 60px;
    list-style: none;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 21px;
    letter-spacing: 0.4px;
}

.main .head-title{
    background-color: #E0EBE8;
    height: 250px;
    width: 100%;
    box-sizing: border-box;
    /* position:absolute; */
}

.main .head-title .head-title-image{
    margin-left: 600px;
    margin-top: 50px;
}

.main .head-title .left-cloud{
    position: relative;
    top:100px;
    right: 750px;
}

.main .head-title .right-cloud{
    position: relative;
    top:-25px;
    left: 85px;
}

.main .head-title .head-title-text{
    position: relative;
    top:30px; 
    display: inline-block;
    left: 590px;
    color: #45b29a;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: larger;
    letter-spacing: 0.4ch;
}

.main .block-bg{
    display: flex;
    justify-content: center;
    height: 346px;
    width: 100%;
    background-color: #E0EBE8;
}


/*-----> Middle Part <-----*/

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}

.middle .my-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width:500px;
}

/* .middle .my-info  */
.image{
    height: 150px;
    width: 150px;
}

.middle .my-info .hi{
    color: #45b29a;
    margin-top: 30px;
    font-family: 'Readex Pro', sans-serif;
    font-size: 25px;
}

.middle .my-info .info-text{
    margin-top: 30px;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    font-weight: lighter;
}

.middle-extra{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color:darkgray; */
    height: 1500px;
    width: 100%;
}

.middle-extra .extra-info{
    font-family: 'Pacifico', cursive;
    color: #45b29a;
    letter-spacing: 0.7px;
    word-spacing: 4px;
    font-size: 25px;
    font-weight: lighter;
    /* margin-bottom: 120px; */
    /* background-color: red; */
}

.language-code{
    display: flex;
    /* background-color: blue; */
}

.language-code div{
    margin: 0px 50px;
}

.language-code div{
    /* background-image: url(/Images/line-bg.png); */
    /* background-repeat: repeat-x; */
    /* background-position: center; */
    /* position: relative; */
}

.inner-language-code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-language-code h2{
    color: #45b29a;
    margin: 15px 0px;
}

.div-vert-icon{
    background-color: #F3F2F1;
    height: 77px;
    width: 77px;
    border-radius: 60px;
    overflow: hidden;
    position: relative;
    top:35px;
}

.div-vert-icon img{
    position: relative;
    animation-name: first-vert-icon;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0.38, 0.32, 0.64);
}

@keyframes first-vert-icon {
    0%{
        top:0px;
    }
    33%{
        top:-70px;
    }
    100%{
        top: -150px;
    }
}

.language-code-vert-icon img{
    height: 77px;
    width: 77px;
}

/*New Block*/

.frameworks-know{
    display: flex;
    /* background-color: purple; */
}

.inner-frameworks-know{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frameworks-know div{
    margin: 0px 50px; 
}

.inner-frameworks-know h2{
    color: #45b29a;
    margin: 15px 0px;
}

.div-dev-icon{
    background-color: #F3F2F1;
    height: 77px;
    width: 77px;
    overflow: hidden;
    position: relative;
    top:35px;
    border-radius: 60px;
}

.div-dev-icon img{
    animation-name: first-vert-icon;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: cubic-bezier(1, 0.38, 0.32, 0.64);
}

/*New Block*/

.tools-use{
    display: flex;
    /* background-color: darkgoldenrod; */
}

.div-tools-icon{
    background-color: #F3F2F1;
    height: 77px;
    width: 77px;
    overflow: hidden;
    position: relative;
    top:35px;
    border-radius: 60px;
}

.div-tools-icon img{
    animation-name: first-vert-icon;
    animation-duration: 3.7s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function: cubic-bezier(1, 0.38, 0.32, 0.64);
}


.inner-tools-use{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.tools-use div{
    margin: 0px 50px;
}   

.inner-tools-use h2{
    color: #45b29a;
    margin: 15px 0px;
}

.extra-info,.language-code,.frameworks-know,.tools-use{
    margin: 50px 0px;
}

.help-text{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 50px 0px 0px 0px;
    color: #45b29a;
    letter-spacing: 0.7px;
    word-spacing: 4px;
    font-size: 25px;
}

.current-available{
    font-size: 17px;
    margin: 60px 0px;
    color:#45b29a;
    font-family: 'Fuzzy Bubbles', cursive;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
}

.get-in-touch{
    font-size: 19px;
    font-family: 'Josefin Sans', sans-serif;
}

.btn{
    margin: 60px 0px;
}
.btn input{
    height: 40px;
    width: 180px;
    font-size: 15px;
    background-color: #a5eedd;
    border-radius: 3.5px;
}


/*------> Footer <------ */

.footer{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #c5ded7;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-icons h3{
    margin:0px 50px;
    font-size: 19px;
    font-family: 'Josefin Sans', sans-serif;
    color: #45b29a;
}

.footer-icons h3:hover{
    color: #353232;
    cursor: pointer;
}

.last-text{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Lora', serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #2a8f79;
}